---
import MainLayout from '../layouts/MainLayout.astro';
import { Content as AdultsPage } from '../content/adults.md';
import TwoColumnsImgs from '../components/TwoColumnsImgs.astro';
import ThreeColumnsImgs from '../components/ThreeColumnsImgs.astro';
const base = import.meta.env.BASE_URL;
---

<MainLayout>
	<section class="pt-32 pb-20">
		<div class="container-custom">
			<div class="max-w-2xl mx-auto text-center mb-16">
				<h1 class="text-4xl md:text-5xl font-bold mb-4">Adults</h1>
				<div>
					<TwoColumnsImgs
						page="adults"
						image1="davinciQuote.png"
						alt1="quote by Leonardo Da Vinci saying all of our knowledge has its origin in our perceptions"
						image2="angelouQuote.png"
						alt2="There is no greater agony than bearing an untold story inside you"
					/>
					<ThreeColumnsImgs
						page="adults"
						image1="whyattButterfly.png"
						alt1=""
						image2="worrycircle.png"
						alt2=""
						image3="emotionalmasking.png"
						alt3=""
					/>
					<TwoColumnsImgs
						page="adults"
						image1="artisfeeling.png"
						alt1=""
						image2="embracingdarkness.png"
						alt2=""
					/>
				</div>
				<div class="prose text-gray-700 mb-6">
					<AdultsPage />
				</div>
				<div>
					<ThreeColumnsImgs
						page="adults"
						image1="mayaart1.png"
						alt1=""
						image2="mayaart2.png"
						alt2=""
						image3="mayaart3.png"
						alt3=""
					/>
					<ThreeColumnsImgs
						page="adults"
						image1="mayaart4.png"
						alt1=""
						image2="mayaart5.png"
						alt2=""
						image3="mayaart6.png"
						alt3=""
					/>
				</div>
				<div class="grid grid-cols-1 lg:grid-cols-2 gap-16 items-center">
					<div>
						<img
							src=`${base}/images/adults/ikigai.png`
							alt=""
							class="w-full h-auto rounded-lg shadow-lg border-8 my-4 border-white md:p-4"
							width="720"
							height="720"
						/>
					</div>
					<div class="prose text-gray-700 mb-6">
						<p>
							Possible themes or issues we can work on together: relationships, body image,
							identity, transitions, anxiety, perfectionism, loneliness, life purpose (“ikigai”)..
						</p>
					</div>
				</div>
				<TwoColumnsImgs
					page="adults"
					image1="richardsonQuote.png"
					alt1=""
					image2="einsteinQuote.png"
					alt2=""
				/>
				<div class="prose text-gray-700 mb-6">
					<p>
						If you are curious about the philosophy of art therapy, read: <a
							rel="noreferrer noopener"
							href="https://www.scribd.com/document/467169935/Principles-and-Practice-of-Expressive-Arts-Therapy#from_embed"
							target="_blank">Principles and Practice of Expressive Arts Therapy</a
						> on Scribd
					</p>
				</div>
			</div>
		</div>
	</section></MainLayout
>
