---
import MainLayout from '../layouts/MainLayout.astro';
import { Content as CelebrationPage } from '../content/celebration.md';

import { Image } from 'astro:assets';
import saganQuote from '../assets/celebration/saganQuote.png';
import fiestadelosmuertos from '../assets/celebration/fiestadelosmuertos.jpg';
import mayaart2 from '../assets/celebration/mayaart2.png';
---

<MainLayout>
	<section class="pt-32 pb-20">
		<div class="container-custom">
			<div class="max-w-2xl mx-auto text-center mb-16">
				<h1 class="text-4xl md:text-5xl font-bold mb-4">
					Ritual and Celebration" : Creative Rituals & Celebrations
				</h1>
				<div class="prose text-gray-700 mb-6">
					<p>
						Life is marked by important transitions, birth, puberty, coming of age, graduation,
						engagement, marriage, divorce, loss, death, grief... Each of these moments deserves to
						be honored in a way that feels authentic and meaningful. As an art therapist and
						celebrant, I help individuals and families design personalized rituals and ceremonies
						that reflect your cultural heritage, beliefs, and values. These can be simple or
						elaborate, secular or spiritual, traditional, or entirely new. What matters most is that
						they resonate with you and your loved ones. Together, we can weave creative expressions
						and symbolic actions, such as collaborative art-making, poetry, music, or nature-based
						gestures, into these ceremonies. These elements offer not only beauty, but also healing,
						connection, and a deeper sense of belonging. Whether you wish to celebrate a joyful
						milestone or to honor a difficult passage, I will support you in creating a ceremony
						that is inclusive, original, and deeply personal. Let us celebrate together and
						transform life’s transitions into meaningful memories that endure
					</p>
				</div>
				<div>
					<Image
						src={saganQuote}
						alt=""
						class="w-full h-auto rounded-lg shadow-lg border-8 my-4 border-white md:p-4"
					/>
				</div>
				<div class="prose text-gray-700 mb-6">
					<CelebrationPage />
				</div>
				<div class="grid grid-cols-1 lg:grid-cols-2 gap-16 items-center">
					<Image
						src={fiestadelosmuertos}
						alt=""
						class="w-full h-auto rounded-lg shadow-lg border-8 my-4 border-white md:p-4"
					/>
					<Image
						src={mayaart2}
						alt=""
						class="w-full h-auto rounded-lg shadow-lg border-8 my-4 border-white md:p-4"
					/>
				</div>
			</div>
		</div>
	</section></MainLayout
>
