---
import MainLayout from '../layouts/MainLayout.astro';
import { Image } from 'astro:assets';
import mayaart1 from '../assets/contact/mayaart1.jpg';
import mayaart2 from '../assets/contact/mayaart2.jpg';
import Button from '../components/Button.astro';
---

<MainLayout>
	<section class="pt-32 pb-20">
		<div class="container-custom">
			<div class="max-w-2xl mx-auto mb-16">
				<h1 class="text-4xl md:text-5xl font-bold mb-4">Reach Out</h1>
				<Image
					src={mayaart1}
					alt=""
					class="w-full h-auto rounded-lg shadow-lg border-8 my-4 border-white md:p-4"
				/>
				<div class="prose text-gray-700 mb-6 text-left indent-8">
					<p>
						Ready to gift yourself a creative exploration? All sessions are held online via Zoom and
						typically last 60 minutes. If you’d prefer to start small, we can also schedule a
						20-minute introductory session to answer any questions you might have. I am currently
						based in Houston, Texas (Central Time, USA) and offer sessions in English, French, and
						Spanish. As a multicultural and person-centered clinician, I look forward to connecting
						with you, dear human, through creativity, presence, and care.
					</p>
				</div>
				<div class="grid grid-cols-1 md:grid-cols-1 gap-6 mb-6">
					<Image
						src={mayaart2}
						alt=""
						class="w-full h-auto rounded-lg shadow-lg border-8 my-4 border-white md:p-4"
					/>
				</div>
				<form action="" method="post">
					<div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6">
						<div class="mb-6">
							<label for="first_name" class="mb-2">First name</label>
							<input
								type="text"
								id="first_name"
								class="border rounded-md p-2 w-full"
								placeholder="First Name"
								required
							/>
						</div>
						<div class="mb-6">
							<label for="last_name" class="mb-2">Last name</label>
							<input
								type="text"
								id="last_name"
								class="border rounded-md p-2 w-full"
								placeholder="Last Name"
								required
							/>
						</div>
					</div>
					<div class="mb-6">
						<label for="email" class="mb-2">Email address</label>
						<input
							type="email"
							id="email"
							class="border rounded-md p-2 w-full"
							placeholder="john.doe@company.com"
							required
						/>
					</div>
					<div class="mb-6">
						<label for="message" class="mb-2">Your message</label>
						<textarea
							id="message"
							rows="10"
							class="border rounded-md p-2 w-full"
							placeholder="Write your thoughts here..."></textarea>
					</div>
					<Button link="" content="Send your message" />
				</form>
			</div>
		</div>
	</section>
</MainLayout>
